<section class="dashboard pt-1 pb-2 pl-0 animated fadeIn">
    <div class="container-fluid">
        <form class="medical-RecordBookForm col-xl-12 col-12 p-0" [formGroup]="medicalRecordBookForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row pt-3">
                <div class="col-xl-12 col-12">
                    <div class="pb-1 mb-2 mt-2 bg-white shadow-sm rounded w-100">
                        <div class="row">
                            <div class="col-xl-12 col-12">
                                <div
                                    class="pt-3 px-3 pb-1 mb-2 bg-primary-blue text-white text-center rounded-top px-2 py-1 flex-row flex-wrap">
                                    <p class="fw600 fs16 mr-4 text-uppercase">Medical Surveillance - Employee Medical Record Book</p>
                                </div>

                                <div class="row px-3 py-1">
                                    <!-- <div class="col-md-12 col-12 align-items-center justify-content-center pl-4 pb-3" style="min-width: 100px">
                                        <div class="mt-2 mb-1 p-square py-2 bg-white border shadow-sm rounded d-flex flex-row flex-wrap text-center">
                                        <input type="file" id="picUpload" #imageFileUpload (change)="imageFileSelected($event)" hidden accept="image/*">
                                            <div class="mx-auto pt-1" type="button" matSuffix (click)="imageFileUpload.click()">
                                                <i class="fa" aria-hidden="true">
                                                    <img class="icon-width" [class.image-width]="selectedFile" [src]="imageUrl" *ngIf="imageUrl" alt=""> 
                                                </i>
                                            </div>
                                        </div>
                                        <p class="fs14 pl-4 fw700 text-start">
                                            <span>{{selectedName}}</span>
                                        </p>
                                    </div> -->

                                    <div class="col-md-4 col-12">
                                        <div class="bg-light p-2 rounded d-flex">
                                            <mat-form-field class="disable-mat-form w-100">
                                                <mat-label class="fw600">Employee name</mat-label>
                                                <input matInput [(ngModel)]="employeeDetailsForMRB.EmployeeName" [ngModelOptions]="{standalone: true}" placeholder="Enter Employee Name" type="text"
                                                    autocomplete="off" readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 text-center">
                                        <div class="bg-light p-2 rounded d-flex">
                                            <mat-form-field class="disable-mat-form w-100">
                                                <mat-label class="fw600">MyKad/IC No.</mat-label>
                                                <input matInput [(ngModel)]="employeeDetailsForMRB.ICNUmber" [ngModelOptions]="{standalone: true}" placeholder="Enter MyKad/IC No." type="text"
                                                    autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 text-center">
                                        <div class="bg-light p-2 rounded d-flex">
                                            <mat-form-field class="disable-mat-form w-100">
                                                <mat-label class="fw600">Name of the Company</mat-label>
                                                <input matInput [(ngModel)]="employeeDetailsForMRB.CompanyName" [ngModelOptions]="{standalone: true}" placeholder="Enter Name of the Company" type="text"
                                                    autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col xl-12 col-12 py-2">

                    <div class="col-xl-12 col-12 p-0">
                        <button class="btn btn-primary-blue p-2 btn-block fs14 fw600 no-hover"
                            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" type="button">
                            <i class="fas fs20 mr-2" [class.fa-plus-circle]="isCollapsed"
                                [class.fa-minus-circle]="!isCollapsed"></i> Add Employee's Note
                        </button>
                    </div>

                    <div class="col-xl-12 col-12 p-0" [collapse]="isCollapsed" [isAnimated]="true" id="collapseBasic">
                        <div class="col-xl-12 col-12 p-0 d-flex flex-row flex-wrap bg-light shadow-sm rounded">
                            <!-- <div class="table-responsive mb-0">
                                <table class="table table-sm">
                                    <thead class="bg-color2 text-dark">
                                      <tr>
                                        <th scope="col" class="border-right pl-2 text-left text-dark">Date of Medical Examination</th>
                                        <th scope="col" class="border-right pl-2 text-left text-dark">Result of Biological Monitoring</th>
                                        <th scope="col" class="border-right pl-1 text-left text-dark">Fitness To Work (Fit, Further Test Needed)</th>
                                        <th scope="col" class="pl-2 text-left text-dark">Name of OHD, DOSH Reg. No.</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container>
                                            <tr class="border-bottom">
                                                <td class="border-right pl-3 text-left">
                                                    11/10/1995
                                                  </td>
                                                  <td class="border-right pl-3 text-left">
                                                   Blood Level 50 mg/dl
                                                  </td>
                                                  <td class="border-right pl-3 text-left">
                                                    
                                                  </td>
                                                  <td class="border-right pl-3 text-left">
                                                   Dr. ……………………<br> JKKP IH 127/171-1()
                                                  </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div> -->

                            <!-- <div> -->
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-0">
                                    <div class="heading col-xl-12 col-12 px-3 py-2 bg-primary-blue">
                                        <p class="text-center m-0 text-white fs14 fw500 w-space-nowrap">Date of Medical Examination</p>
                                    </div>
                                    <div class="col-xl-12 col-12 p-0">
                                        <div class="form-group w-100">
                                            <textarea autocomplete="off" placeholder="Date of Medical Examination" formControlName="MedExamDt"
                                                class="form-control bg-transparent brr0 p-2 fw500 fs14" cols="30"
                                                rows="10" readonly></textarea>

                                                <!-- Error Message -->
                                                <span class="help-block bottom fs12 text-red"
                                                *ngIf="errorState(formControls['MedExamDt'], 'MedExamDt').message"
                                                [innerHTML]="errorState(formControls['MedExamDt'], 'MedExamDt').message"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-0">
                                    <div class="heading col-xl-12 col-12 px-3 py-2 bg-primary-blue">
                                        <p class="text-center m-0 text-white fs14 fw500 w-space-nowrap">Result of Biological Monitoring</p>
                                    </div>
                                    <div class="col-xl-12 col-12 p-0">
                                        <div class="form-group w-100">
                                            <!-- <textarea autocomplete="off" placeholder="Result of Biological Monitoring" formControlName="ResultOfBioMonitor"
                                                class="form-control bg-transparent brr0 p-2 fw500 fs14" cols="30" rows="10" (focusout)="checkedTrue()"></textarea> -->
                                            <textarea autocomplete="off" placeholder="Enter Result of Biological Monitoring" formControlName="ResultOfBioMonitor"
                                                class="form-control bg-transparent brr0 p-2 fw500 fs14" cols="30" rows="10"></textarea>
                                        
                                                <!-- Error Message -->
                                                <span class="help-block bottom fs12 text-red"
                                                *ngIf="errorState(formControls['ResultOfBioMonitor'], 'errorMsg').message"
                                                [innerHTML]="errorState(formControls['ResultOfBioMonitor'], 'errorMsg').message"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-0">
                                    <div class="heading col-xl-12 col-12 px-3 py-2 bg-primary-blue">
                                        <p class="text-center m-0 text-white fs14 fw500 w-space-nowrap">Fitness To Work (Fit, Further Test Needed)</p>
                                    </div>
                                    <div class="col-xl-12 col-12 p-0">
                                        <div class="form-group w-100">
                                            <!-- <textarea autocomplete="off" placeholder="Fitness To Work (Fit, Further Test Needed)" formControlName="FitToWork" class="form-control bg-transparent brr0 p-2 fw500 fs14" cols="30" rows="10" (focusout)="checkedTrue()"></textarea> -->
                                            <textarea autocomplete="off" placeholder="Enter Fitness To Work" formControlName="FitToWork" class="form-control bg-transparent brr0 p-2 fw500 fs14" cols="30" rows="10"></textarea>

                                            <!-- Error Message -->
                                            <span class="help-block bottom fs12 text-red"
                                            *ngIf="errorState(formControls['FitToWork'], 'errorMsg').message"
                                            [innerHTML]="errorState(formControls['FitToWork'], 'errorMsg').message"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 p-0">
                                    <div class="heading col-xl-12 col-12 px-3 py-2 bg-primary-blue">
                                        <p class="text-center m-0 text-white fs14 fw500 w-space-nowrap">Name of OHD, DOSH Reg. No.</p>
                                    </div>
                                    <div class="col-xl-12 col-12 p-0">
                                        <div class="form-group w-100">
                                            <textarea autocomplete="off" placeholder="TreatMent"
                                                class="form-control bg-transparent brr0 p-2 fw500 fs14" cols="30"
                                                rows="10">Dr. …………………… JKKP IH 127/171-1()</textarea>
                                        </div>
                                    </div>
                                </div> -->
                            <!-- </div> -->
                        </div>
                    </div>

                </div>

                <!-- <div class="col-sm-12 col-12 py-2 d-flex align-items-start justify-content-start">
                    <mat-checkbox formControlName="Fit" color="primary" class="mr-3">I hereby certify that, <span class="fw600">{{employeeDetailsForMRB.EmployeeName}}</span> is Fit to work.</mat-checkbox>
                </div> -->

                <div class="col-xl-12 col-12 text-center mt-3">
                    <!-- <button type="submit"
                        class="btn btn-success min-width btn-sm fs14 fw500 btn-rounded mr-3" [disabled]="!formControls['Fit'].value">{{formControls['Id'] && formControls['Id'].value > 0 ? 'Update' : 'Save'}}</button> -->
                        <button type="submit"
                        class="btn btn-success min-width btn-sm fs14 fw500 btn-rounded mr-3">{{formControls['Id'] && formControls['Id'].value > 0 ? 'Update' : 'Save'}}</button>
                        <button type="button" *ngIf="formControls['Id'].value == 0" [disabled]="!saveNext"
                        [routerLink]="['/medical-surveillance', 'status', 'checkout', employeeId, doctorId, employeeTestVisitId]"
                        class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                    <button type="button" *ngIf="formControls['Id'].value > 0" [disabled]="!updateNext"
                        [routerLink]="['/medical-surveillance', 'status', 'checkout', employeeId, doctorId, employeeTestVisitId]"
                        class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                    <!-- <button type="button" class="btn btn-red min-width btn-sm fs14 fw500 btn-rounded">
                        <i class="fa fa-print mr-2"></i> Print
                    </button> -->
                    <button class="btn btn-red min-width btn-sm fs14 fw500 rounded-pill" type="submit"
                                [routerLink]="['/medical-surveillance/list']">Close</button>
                </div>
            </div>
        </form>
    </div>
</section>