<section>
    <div class="container bg-red mt-4">
        <div class="row" style="min-height: 40vh;">
            <div class="col-sm-12 col-xs-12 col-12 d-flex justify-content-between align-items-center">
                <p class="text-white fw600 bg-cyan p-2">Hello</p>
                <p class="text-green fw600 bg-orange p-2 align-self-start">World</p>
                <p class="text-yellow fw600 bg-violet p-2 align-self-end">Angular</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-red mt-4">
        <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
            <div class="col-sm-9 col-xs-9 col-9">
                <p class="text-white fw600 bg-cyan p-2">Hello</p>
                <p class="text-green fw600 bg-orange p-2 align-self-start">World</p>
                <p class="text-yellow fw600 bg-violet p-2 align-self-end">Angular</p>
            </div>
        </div>
    </div>
</section>