<section class="dashboard pt-1 pb-2 pl-0 animated fadeIn">
    <div class="container-fluid">

        <div class="row pt-3">

            <div class="col-xl-12 col-12">
                <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                    <div class="bg-primary-blue text-white rounded-top px-3 py-2 text-center flex-row flex-wrap">
                        <h6 class="mr-3 pt-2 text-uppercase">
                            <span class="pl-1 fs16 fw600">Outcome of Examination</span>
                        </h6>

                    </div>

                    <form class="exam-OutcomeRecordForm col-xl-12 col-12 p-0" (ngSubmit)="onSubmit()"
                        autocomplete="off">
                        <div class="table-responsive mb-2">
                            <table class="table table-sm table-borderless pl-2 pr-2 text-nowrap text-uppercase">
                                <thead class="bg-color3 text-dark">
                                    <tr>
                                        <th scope="col" class="pl-3 border-right text-left"></th>
                                        <th scope="col" class="pl-2 text-center" style="min-width: 60px;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">1. Medical removal protection
                                            </td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">2. STILL EXPOSED IN THE SAME
                                                JOB</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">3. STILL IN THE SAME JOB BUT
                                                USING PPE</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">4. NO MORE EXPOSED, SHIFTED TO
                                                DIFFERENT SECTION</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">5. CHANGE JOB/ALTERNATIVE
                                                EMPLOYMENT</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">6. AWAY FROM WORK DUE TO
                                                ILLNESS</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">7. EARLY RETIREMENT</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">8. UNEMPLOYED</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">9. REFERRED FOR FURTHER
                                                INVESTIGATION & CONFIRMATION</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">10. COMPENSATION PAID</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right text-left fw500">11. OTHERS(SPECIFY)</td>
                                            <td class="pl-3 text-center">
                                                <mat-checkbox color="primary"></mat-checkbox>
                                            </td>
                                        </tr>

                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                        <div class="clearfix"></div>

                        <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                            <div
                                class="bg-primary-blue text-white rounded-top px-3 py-2 text-center flex-row flex-wrap">
                                <h6 class="mr-3 pt-2 text-uppercase">
                                    <span class="pl-1 fs16 fw600">Recommendations By Occupational Health Doctor
                                        To</span>
                                </h6>
                            </div>

                            <div class="row px-3 pt-2">
                                <div class="col-md-6 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Employeer</mat-label>
                                        <input matInput placeholder="Enter Employeer" type="text" autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Employee</mat-label>
                                        <input matInput placeholder="Enter Employee" type="text" autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-md-12 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Accessor/Industrial Hygenist</mat-label>
                                        <input matInput placeholder="Enter Accessor/Industrial Hygenist" type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Refer to Specialist</mat-label>
                                        <input matInput placeholder="Enter Refer to Specialist" type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Others (Specific)</mat-label>
                                        <input matInput placeholder="Enter Others (Specific)" type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Name of Occupational Doctor</mat-label>
                                        <input matInput placeholder="Enter Name of Occupational Doctor" type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Name of Clinic</mat-label>
                                        <input matInput placeholder="Enter Name of Clinic" type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">MMC No.</mat-label>
                                        <input matInput placeholder="Enter MMC No." type="text" autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">DOSH Reg. No.</mat-label>
                                        <input matInput placeholder="Enter DOSH Reg. No." type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Clinic Tel. No.</mat-label>
                                        <input matInput placeholder="Enter Clinic Tel. No." type="text"
                                            autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Fax No.</mat-label>
                                        <input matInput placeholder="Enter Fax No." type="text" autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 col-12">
                                    <mat-form-field class="w-100" floatLabel="never">
                                        <mat-label class="fw600">Email Id</mat-label>
                                        <input matInput placeholder="Enter Email Id" type="text" autocomplete="off">
                                        <!-- <mat-error *ngIf="errorState(formControls['patientName'], 'patientName').message">
                                {{ errorState(formControls['patientName'], 'patientName').message }}
                              </mat-error> -->
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-12 col-12 text-center mt-3">
                            <button class="btn btn-success min-width btn-sm fs14 fw500 rounded-pill mr-3"
                                type="submit">Save</button>
                            <button type="button"
                                class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>