<!-- Start Dashboard Section -->
<section class="dashboard pb-5 pt-4">
    <div class="container-fluid">
      <div class="col-xl-12 col-12 py-4 d-flex justify-content-center align-items-center bg-lightgreyishblue flex-column mat-elevation-z4 brr4">
        <p class="fs40 fw600">Not Authorized</p>
        <p class="fs16 fw600">Please check with your IT Admin or Doctor in charge to get access!</p>
        <button type="button" class="btn btn-blue fs14 fw600" [routerLink]="['/registration']">Go Back</button>
    </div>
    </div>
  </section>
<!-- End Dashboard Section -->
  