<section class="dashboard pt-1 pb-2 pl-0 animated fadeIn">
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-xl-12 col-12">
                <div class="bg-white shadow-sm rounded w-100">
                    <div class="row">
                        <div class="col-xl-12 col-12">
                            <div
                                class="pt-3 px-3 bg-primary-blue text-white text-center rounded-top px-2 py-1 flex-row flex-wrap">
                                <p class="fw600 fs16 mr-4 text-uppercase">Medical Surveillance - Family History</p>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-12">
                                    <div
                                        class="bg-color2 rounded-top px-3 pt-2 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                        <h6 class="mr-3">
                                            <small class="fw700 fs16">Employee Information</small>
                                        </h6>
                                    </div>
                                    
                                    <div class="row px-3 pb-3 pt-3">
                                        <div class="col-md-4 col-12">
                                            <div class="bg-light p-2 rounded d-flex">
                                                <mat-form-field class="disable-mat-form w-100">
                                                    <mat-label class="fw600">Employee name</mat-label>
                                                    <input matInput [(ngModel)]="employeeDetailsForFH.EmployeeName"
                                                        placeholder="Enter Employee Name" type="text" autocomplete="off"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="bg-light p-2 rounded d-flex">
                                                <mat-form-field class="disable-mat-form w-100">
                                                    <mat-label class="fw600">MyKad/IC No.</mat-label>
                                                    <input matInput [(ngModel)]="employeeDetailsForFH.ICNUmber"
                                                        placeholder="Enter MyKad/IC No." type="text" autocomplete="off"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="bg-light p-2 rounded d-flex">
                                                <mat-form-field class="disable-mat-form w-100">
                                                    <mat-label class="fw600">Company Name</mat-label>
                                                    <input matInput [(ngModel)]="employeeDetailsForFH.CompanyName"
                                                        placeholder="Enter Company Name" type="text" autocomplete="off"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="family-HistoryForm col-xl-12 col-12 p-0" [formGroup]="familyHistoryForm" (ngSubmit)="onSubmit()"
            autocomplete="off">
            <div class="row pt-3">
                <div class="col-xl-12 col-12">
                    <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                        <div class="bg-primary-blue text-white rounded-top px-3 py-2 text-center flex-row flex-wrap">
                            <h6 class="mr-3 pt-2">
                                <span class="pl-1 fs16 fw600">Family History</span>
                            </h6>

                        </div>

                        <div class="table-responsive mb-2">
                            <table class="table table-sm table-borderless pl-2 pr-2 text-nowrap text-uppercase">
                                <thead class="bg-color3 text-dark">
                                    <tr>
                                        <th scope="col" class="pl-3 border-right-bold text-left text-dark"></th>
                                        <th scope="col" class="pl-2 text-center text-dark" style="width: 50px;">Yes
                                        </th>
                                        <th scope="col" class="pl-2 border-right-bold text-center text-dark"
                                            style="width: 50px;">No
                                        </th>
                                        <th scope="col" class="pl-2 text-center text-dark" style="min-width: 100px;">
                                            Explain if Yes
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr>
                                            <td class="pl-3 border-right-bold text-left fw500">1. H/o Medical Illness
                                            </td>
                                            <td colspan="2" class="pl-3 border-right-bold text-center">
                                                <mat-radio-group class="fs12" aria-label="Select an option"
                                                    color="primary" formControlName="MedicalIllness"
                                                    (change)="onSelectChange('MedicalIllness', 'SpecifyMedicalIllness')">
                                                    <mat-radio-button [value]=true> </mat-radio-button>
                                                    <mat-radio-button [value]=false> </mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-3 text-center">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput formControlName="SpecifyMedicalIllness" type="text"
                                                        autocomplete="off"
                                                        [readonly]="!formControls['MedicalIllness'].value">
                                                    <button mat-icon-button *ngIf="formControls['MedicalIllness'].value"
                                                        type="button" matSuffix tabindex="-1"
                                                        (click)="clearInput('SpecifyMedicalIllness')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="errorState(formControls['SpecifyMedicalIllness'], 'errorMsg').message">
                                                        {{ errorState(formControls['SpecifyMedicalIllness'], 'errorMsg').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right-bold text-left fw500">2. H/o Allergy</td>
                                            <td colspan="2" class="pl-3 border-right-bold text-center">
                                                <mat-radio-group class="fs12" aria-label="Select an option"
                                                    color="primary" formControlName="Allergy"
                                                    (change)="onSelectChange('Allergy', 'SpecifyAllergy')">
                                                    <mat-radio-button [value]=true> </mat-radio-button>
                                                    <mat-radio-button [value]=false> </mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-3 text-center">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput formControlName="SpecifyAllergy" type="text"
                                                        autocomplete="off" [readonly]="!formControls['Allergy'].value">
                                                    <button mat-icon-button *ngIf="formControls['Allergy'].value"
                                                        type="button" matSuffix tabindex="-1"
                                                        (click)="clearInput('SpecifyAllergy')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="errorState(formControls['SpecifyAllergy'], 'errorMsg').message">
                                                        {{ errorState(formControls['SpecifyAllergy'], 'errorMsg').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right-bold text-left fw500">3. H/o Congential
                                                Malformation</td>
                                            <td colspan="2" class="pl-3 border-right-bold text-center">
                                                <mat-radio-group class="fs12" aria-label="Select an option"
                                                    color="primary" formControlName="Congential"
                                                    (change)="onSelectChange('Congential', 'SpecifyCongential')">
                                                    <mat-radio-button [value]=true> </mat-radio-button>
                                                    <mat-radio-button [value]=false> </mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-3 text-center">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput formControlName="SpecifyCongential" type="text"
                                                        autocomplete="off"
                                                        [readonly]="!formControls['Congential'].value">
                                                    <button mat-icon-button *ngIf="formControls['Congential'].value"
                                                        type="button" matSuffix tabindex="-1"
                                                        (click)="clearInput('SpecifyCongential')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="errorState(formControls['SpecifyCongential'], 'errorMsg').message">
                                                        {{ errorState(formControls['SpecifyCongential'], 'errorMsg').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pl-3 border-right-bold text-left fw500">4. Other Illness</td>
                                            <td colspan="2" class="pl-3 border-right-bold text-center">
                                                <mat-radio-group class="fs12" aria-label="Select an option"
                                                    color="primary" formControlName="OtherIllness"
                                                    (change)="onSelectChange('OtherIllness', 'SpecifyOtherIllness')">
                                                    <mat-radio-button [value]=true> </mat-radio-button>
                                                    <mat-radio-button [value]=false> </mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-3 text-center">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput formControlName="SpecifyOtherIllness" type="text"
                                                        autocomplete="off"
                                                        [readonly]="!formControls['OtherIllness'].value">
                                                    <button mat-icon-button *ngIf="formControls['OtherIllness'].value"
                                                        type="button" matSuffix tabindex="-1"
                                                        (click)="clearInput('SpecifyOtherIllness')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="errorState(formControls['SpecifyOtherIllness'], 'errorMsg').message">
                                                        {{ errorState(formControls['SpecifyOtherIllness'], 'errorMsg').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>

                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 col-12 pt-4 py-2 d-flex align-items-center justify-content-center">
                            <button class="btn btn-success min-width btn-sm fs14 fw500 rounded-pill mr-3"
                                type="submit">{{formControls['Id'] && formControls['Id'].value > 0 ? 'Update' : 'Save'}}</button>
                            <button type="button" *ngIf="formControls['Id'].value == 0" [disabled]="!saveNext"
                                [routerLink]="['/medical-surveillance', 'status', 'occupational-history', employeeId, doctorId, employeeTestVisitId]"
                                class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                            <button type="button" *ngIf="formControls['Id'].value > 0" [disabled]="!updateNext"
                                [routerLink]="['/medical-surveillance', 'status', 'occupational-history', employeeId, doctorId, employeeTestVisitId]"
                                class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                            <button class="btn btn-red min-width btn-sm fs14 fw500 rounded-pill" type="submit"
                                [routerLink]="['/medical-surveillance/list']">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>