<section class="dashboard pt-1 pb-2 pl-0 animated fadeIn">
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-xl-12 col-12">
                <div class="bg-white shadow-sm rounded w-100">
                    <div class="row">
                        <div class="col-xl-12 col-12">
                            <div
                                class="pt-3 px-3 bg-primary-blue text-white text-center rounded-top px-2 py-1 flex-row flex-wrap">
                                <p class="fw600 fs16 mr-4 text-uppercase">Medical Surveillance - Lab. Investigation</p>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-12">
                                    <div
                                        class="bg-color2 rounded-top px-3 pt-2 mb-1 d-flex justify-content-start flex-row flex-wrap">
                                        <h6 class="mr-3">
                                            <small class="fw700 fs16">Employee Information</small>
                                        </h6>
                                    </div>
                                    
                                    <div class="row px-3 pb-3 pt-3">
                                        <div class="col-md-4 col-12">
                                            <div class="bg-light p-2 rounded d-flex">
                                                <mat-form-field class="disable-mat-form w-100">
                                                    <mat-label class="fw600">Employee name</mat-label>
                                                    <input matInput [(ngModel)]="employeeDetailsForinv.EmployeeName"
                                                        placeholder="Enter Employee Name" type="text" autocomplete="off"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="bg-light p-2 rounded d-flex">
                                                <mat-form-field class="disable-mat-form w-100">
                                                    <mat-label class="fw600">MyKad/IC No.</mat-label>
                                                    <input matInput [(ngModel)]="employeeDetailsForinv.ICNUmber"
                                                        placeholder="Enter MyKad/IC No." type="text" autocomplete="off"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="bg-light p-2 rounded d-flex">
                                                <mat-form-field class="disable-mat-form w-100">
                                                    <mat-label class="fw600">Company Name</mat-label>
                                                    <input matInput [(ngModel)]="employeeDetailsForinv.CompanyName"
                                                        placeholder="Enter Company Name" type="text" autocomplete="off"
                                                        readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="investigationForm col-xl-12 col-12 p-0" [formGroup]="investigationForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row pt-3">
            <div class="col-xl-12 col-12">
                <div class="pb-1 mb-1 mt-1 bg-white shadow-sm rounded w-100">
                    <div class="bg-primary-blue text-white rounded-top px-3 py-2 text-center flex-row flex-wrap">
                        <h6 class="mr-3 pt-2">
                            <span
                                class="pl-1 fs16 fw600 text-normal">Investigation To Be Done/ Done Baseline/ Preplacement/ Periodic/ Post-Employment</span>
                        </h6>
                    </div>

                        <div class="table-responsive">
                            <table class="table table-sm table-borderless px-2 text-left text-nowrap">
                                <thead class="bg-color6">
                                    <tr>
                                        <th scope="col" class="pl-3 text-center fw700 text-dark" style="min-width: 60px;">Investigation</th>
                                        <th scope="col" class="pl-1 text-dark" style="min-width: 20px;"></th>
                                        <th scope="col" class="pl-1 text-dark" style="min-width: 20px;"></th>
                                        <th scope="col" class="pl-3 text-left fw700 text-dark" style="min-width: 200px;">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr class="bg-color3 text-dark">
                                            <td colspan="4" class="pl-3 fw600 text-left text-uppercase">
                                                Urine
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw500">Feme</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="FEME">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="FemeSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                        (click)="clearInput('FemeSpecify')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="errorState(formControls['FemeSpecify'], 'errorMsg').message">
                                                        {{ errorState(formControls['FemeSpecify'], 'errorMsg').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>

                                        <tr class="bg-color3 text-dark">
                                            <td colspan="4" class="pl-3 fw600 text-left text-uppercase">
                                                Blood
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3">
                                                <div>
                                                    <mat-label class="fw500">Hb</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="Hb">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="HbSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                        (click)="clearInput('HbSpecify')">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="errorState(formControls['HbSpecify'], 'errorMsg').message">
                                                        {{ errorState(formControls['HbSpecify'], 'errorMsg').message }}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw500">BUSE</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="BUSE">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="BUSEspecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('BUSEspecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['BUSEspecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['BUSEspecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw500">Renal Profile</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="RenalProfile">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="RenalProfileSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('RenalProfileSpecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['RenalProfileSpecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['RenalProfileSpecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw500">Liver Function Test</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="LiverFn">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="LiverFnSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('LiverFnSpecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['LiverFnSpecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['LiverFnSpecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw700">Others (Specify)</mat-label>
                                                </div>
                                            </td>
                                            <!-- <td colspan="2" class="pl-1"> -->
                                                <!-- <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary">
                                                    <mat-radio-button class="ml-1 mr-3" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-1 mr-3" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group> -->
                                            <!-- </td> -->
                                            <td colspan="4" class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="OtherSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('OtherSpecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['OtherSpecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['OtherSpecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw500">Sputum for AFB</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="Sputum">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="SputumSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('SputumSpecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['SputumSpecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['SputumSpecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3">
                                                <div>
                                                    <mat-label class="fw500">CXR</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="CXR">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="CXRSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('CXRSpecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['CXRSpecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['CXRSpecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>

                                        <tr class="bg-color3 text-dark">
                                            <td colspan="4" class="pl-3 fw600 text-left text-uppercase">
                                                Lung Function Test
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3">
                                                <div>
                                                    <mat-label class="fw500">FVC</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="FVC">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="FVCspecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('FVCspecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['FVCspecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['FVCspecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3">
                                                <div>
                                                    <mat-label class="fw500">FEV1</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="FEV1">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="FEV1specify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('FEV1specify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['FEV1specify'], 'errorMsg').message">
                                                    {{ errorState(formControls['FEV1specify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3">
                                                <div>
                                                    <mat-label class="fw500">FEV1/FVC</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="FEV1_FVC">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="FEV1_FVCspecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('FEV1_FVCspecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['FEV1_FVCspecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['FEV1_FVCspecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw500">Audigram</mat-label>
                                                </div>
                                            </td>
                                            <td colspan="2" class="pl-1">
                                                <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary" formControlName="Audigram">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                            <td class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="AudigramSpecify">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('AudigramSpecify')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['AudigramSpecify'], 'errorMsg').message">
                                                    {{ errorState(formControls['AudigramSpecify'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw700">Immunisation Status</mat-label>
                                                </div>
                                            </td>
                                            <!-- <td colspan="2" class="pl-1"> -->
                                                <!-- <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group> -->
                                            <!-- </td> -->
                                            <td colspan="4" class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="Immunization">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('Immunization')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['Immunization'], 'errorMsg').message">
                                                    {{ errorState(formControls['Immunization'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="p-0">
                                            <td class="pl-3 text-uppercase">
                                                <div>
                                                    <mat-label class="fw700">Other (Specify)</mat-label>
                                                </div>
                                            </td>
                                            <!-- <td colspan="2" class="pl-1"> -->
                                                <!-- <mat-radio-group class="fw500" aria-label="Select an option"
                                                    color="primary">
                                                    <mat-radio-button class="ml-3 mr-4" [value]=true>Normal</mat-radio-button>
                                                    <mat-radio-button class="ml-3 mr-4" [value]=false>Abnormal</mat-radio-button>
                                                </mat-radio-group> -->
                                            <!-- </td> -->
                                            <td colspan="4" class="pl-2 text-left">
                                                <mat-form-field class="w-100" floatLabel="never">
                                                    <mat-label class="fw600"></mat-label>
                                                    <input matInput type="text" autocomplete="off" formControlName="Other">
                                                    <button mat-icon-button type="button" matSuffix tabindex="-1"
                                                    (click)="clearInput('Other')">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <mat-error
                                                    *ngIf="errorState(formControls['Other'], 'errorMsg').message">
                                                    {{ errorState(formControls['Other'], 'errorMsg').message }}
                                                </mat-error>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-sm-12 col-12 py-2 d-flex align-items-center justify-content-center">
                            <button class="btn btn-success min-width btn-sm fs14 fw500 rounded-pill mr-3"
                                type="submit">{{formControls['Id'] && formControls['Id'].value > 0 ? 'Update' : 'Save'}}</button>
                            <button type="button" *ngIf="formControls['Id'].value == 0" [disabled]="!saveNext"
                                [routerLink]="['/medical-surveillance', 'status', 'exam-outcome-record', employeeId, doctorId, employeeTestVisitId]"
                                class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                            <button type="button" *ngIf="formControls['Id'].value > 0" [disabled]="!updateNext"
                                [routerLink]="['/medical-surveillance', 'status', 'exam-outcome-record', employeeId, doctorId, employeeTestVisitId]"
                                class="btn btn-info min-width btn-sm fs14 fw500 rounded-pill mr-3">Next</button>
                            <button class="btn btn-red min-width btn-sm fs14 fw500 rounded-pill" type="submit"
                                [routerLink]="['/medical-surveillance/list']">Close</button>
                        </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>