<div class="custom-sidebar-body bg-color1">
  <div class="sidebar-user-details d-flex col-xl-12 col-12 justify-content-start align-items-center bg-yellow pr-0">
    <div class="pl-3">
      <span class="fs22 text-white fw600">OHS</span>
    </div>
    <div class="arrow-left justify-content-end align-items-end">
      <button class="side-menu-btn btn btn-link text-white d-inline-flex btn-rounded fw700 p-2" type="button"
        (click)="closeSidenav('mainNavSidenav')" matRipple>
        <i class="material-icons">arrow_back_ios</i>
      </button>
    </div>
  </div>

  <div class="sidebar-content col-xl-12 col-12 p-0">
    <div class="feed-list-menu col-xl-12 col-12 p-0 w-space-nowrap">
      <ul class="nav flex-column w-space-nowrap">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/employee/registration']">
            <span class="feed-menu-icon mr-1">
              <img src="assets/img/employee-icon.png" alt="Employee-Icon">
            </span>
            <span class="feed-menu-text fs16 fw700">Employee Registration</span>
          </a>
        </li>
        <!-- Divider -->
        <li class="divider dropdown-divider m-0"></li>
        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/medical-surveillance/list']">
            <span class="feed-menu-icon mr-1">
              <img src="assets/img/medical-icon.png" alt="Medical-Icon">
            </span>
            <span class="feed-menu-text fs16 fw700"> Medical Surveillance</span>
          </a>
        </li>
        <!-- <div (click)="isCollapsedMedical = !isCollapsedMedical" [attr.aria-expanded]="!isCollapsedMedical"
          type="button">
          <li class="nav-item" routerLinkActive="active">
            <span [routerLink]="['/medical-surveillance']" class="d-none"></span>
            <a class="nav-link text-themed-verydarkblue t14">
              <span class="feed-menu-icon mr-1">
                <img src="assets/img/medical-icon.png" alt="Medical-Icon">
              </span>
              <span class="feed-menu-text fs16 fw700">
                Medical Surveillance
                <i class="pl-2 pt-2 fas" [class.fa-chevron-down]="isCollapsedMedical"
                  [class.fa-chevron-up]="!isCollapsedMedical" aria-hidden="true"></i>
              </span>
            </a>
          </li>

          <div class="ml-4 w-space-normal" [collapse]="isCollapsedMedical">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/medical-surveillance/list']">
                <span class="feed-menu-icon mr-2">
                  <img src="assets/img/medical-icon.png" alt="Medical-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Employee Queue/List</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/medical-surveillance/medical-condition']">
                <span class="feed-menu-icon mr-2">
                  <img src="assets/img/medical_condition.png" alt="medical_condition-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Medical Condition</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/medical-surveillance/past-medical-history']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/drug.png" alt="drug-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Past Medical History</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/medical-surveillance/family-history']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/familyhistory.png" alt="familyhistory-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Family History</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/medical-surveillance/occupational-history']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/form.png" alt="form-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Occupational History</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/medical-surveillance/chemical-history']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/lab.png" alt="lab-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Present Chemical History & Exposure</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/medical-surveillance/physical-exam']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/task.png" alt="task-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Physical Exam</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/medical-surveillance/investigation']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/add.png" alt="add-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Investigation
                  <br><span class="feed-menu-text fs14 fw500">(Signature of Employee)</span></span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/medical-surveillance/exam-outcome-record']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/result.png" alt="result-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Exam Outcome & Record</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/employee/medical-record-book']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/patient.png" alt="patient-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Employee Medical Record Book ?</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/medical-surveillance/fitness-certificate']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/certificate.png" alt="certificate-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Certificate of Fitness
                  <br><span class="feed-menu-text fs14 fw500">(Signed by OHD)</span></span>
              </a>
            </li>
          </div>
        </div> -->
        <!-- Divider -->
        <li class="divider dropdown-divider m-0"></li>
      </ul>
    </div>
    <div class="feed-list-menu col-xl-12 col-12 p-0">
      <ul class="nav flex-column">
        <div (click)="isCollapsedAudiometric = !isCollapsedAudiometric" [attr.aria-expanded]="!isCollapsedAudiometric"
          type="button">
          <li class="nav-item" routerLinkActive="active">
            <span [routerLink]="['/audiometric']" class="d-none"></span>
            <a class="nav-link text-themed-verydarkblue t14">
              <span class="feed-menu-icon mr-1">
                <img src="assets/img/radio.png" alt="radio-Icon">
              </span>
              <span class="feed-menu-text fs16 fw700 pl-2 pt-2">Audiometric</span>
              <i class="pl-3 pt-2 fas" [class.fa-chevron-down]="isCollapsedAudiometric"
                [class.fa-chevron-up]="!isCollapsedAudiometric" aria-hidden="true"></i>
            </a>
          </li>

          <div class="ml-4 w-space-normal" [collapse]="isCollapsedAudiometric">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/audiometric/audiometric-test-queue']">
                <span class="feed-menu-icon mr-2">
                  <img src="assets/img/radio.png" alt="radio-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Audiometric Test Queue</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14"
                [routerLink]="['/audiometric/occupational-noise-exposure']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/speaker.png" alt="speaker-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Occupational Noise Exposure</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/audiometric/medical-history']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/form.png" alt="Form-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Medical History</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/audiometric/audiometry-result']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/notepad.png" alt="notepad-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Audiometry Results</span>
              </a>
            </li>
          </div>
        </div>
        <!-- Divider -->
        <li class="divider dropdown-divider m-0"></li>
      </ul>
    </div>
    <div class="feed-list-menu col-xl-12 col-12 p-0">
      <ul class="nav flex-column">
        <div (click)="isCollapsedReport = !isCollapsedReport" [attr.aria-expanded]="!isCollapsedReport" type="button">
          <li class="nav-item" routerLinkActive="active">
            <span [routerLink]="['/report']" class="d-none"></span>
            <a class="nav-link text-themed-verydarkblue t14">
              <span class="feed-menu-icon mr-1">
                <img src="assets/img/portable-document-format.png" alt="portable-document-format-Icon">
              </span>
              <span class="feed-menu-text fs16 fw700 pl-2 pt-2">Report</span>
              <i class="pl-3 pt-2 fas" [class.fa-chevron-down]="isCollapsedReport"
                [class.fa-chevron-up]="!isCollapsedReport" aria-hidden="true"></i>
            </a>
          </li>

          <div class="ml-4 w-space-normal" [collapse]="isCollapsedReport">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/report/medical-surveillance-summary']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/MedicalSurveillan.png" alt="MedicalSurveillance-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Medical Surveillance Summary</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/report/audiometric-report']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/Workers_Abnormal.png" alt="Form-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Audiometric Report</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/report/abnormal-exam-results']">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/document.png" alt="document-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Abnormal Exam. Results</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/report/sales-summary']">
                <span class="feed-menu-icon mr-2">
                  <img src="assets/img/MYR.png" alt="MYR-Icon">
                </span>
                <span class="feed-menu-text fs14 fw500">Sales Summary</span>
              </a>
            </li>
          </div>
        </div>
        <!-- Divider -->
        <li class="divider dropdown-divider m-0"></li>
      </ul>
    </div>
    <ng-container *ngIf="userRoleId === '1'">
      <div class="feed-list-menu col-xl-12 col-12 p-0">
        <ul class="nav flex-column">
          <div (click)="isCollapsedOHSClient = !isCollapsedOHSClient" [attr.aria-expanded]="!isCollapsedOHSClient"
            type="button">
            <li class="nav-item" routerLinkActive="active">
              <span [routerLink]="['/ohs-client']" class="d-none"></span>
              <a class="nav-link text-themed-verydarkblue t14">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/ClientList.png" alt="ClientList-Icon">
                </span>
                <span class="feed-menu-text fs16 fw700 pl-2 pt-2">OHS Client</span>
                <i class="pl-3 pt-2 fas" [class.fa-chevron-down]="isCollapsedOHSClient"
                  [class.fa-chevron-up]="!isCollapsedOHSClient" aria-hidden="true"></i>
              </a>
            </li>
  
            <div class="ml-4 w-space-normal" [collapse]="isCollapsedOHSClient">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/ohs-client/list']">
                  <span class="feed-menu-icon mr-1">
                    <img src="assets/img/ClientList.png" alt="ClientList-Icon">
                  </span>
                  <span class="feed-menu-text fs14 fw500">OHS Client List</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/ohs-client/settings']">
                  <span class="feed-menu-icon mr-2">
                    <img src="assets/img/company.png" alt="company-Icon">
                  </span>
                  <span class="feed-menu-text fs14 fw500">OHS Client Settings</span>
                </a>
              </li>
            </div>
          </div>
          <!-- Divider -->
          <li class="divider dropdown-divider m-0"></li>
        </ul>
      </div>
      <div class="feed-list-menu col-xl-12 col-12 p-0">
        <ul class="nav flex-column">
          <div (click)="isCollapsedOHDSettings = !isCollapsedOHDSettings" [attr.aria-expanded]="!isCollapsedOHDSettings"
            type="button">
            <li class="nav-item" routerLinkActive="active">
              <span [routerLink]="['/ohd-settings']" class="d-none"></span>
              <a class="nav-link text-themed-verydarkblue t14">
                <span class="feed-menu-icon mr-1">
                  <img src="assets/img/doctor-settings.png" alt="Doctor-setting-Icon">
                </span>
                <span class="feed-menu-text fs16 fw700 pl-2 pt-2">OHD Settings</span>
                <i class="pl-3 pt-2 fas" [class.fa-chevron-down]="isCollapsedOHDSettings"
                  [class.fa-chevron-up]="!isCollapsedOHDSettings" aria-hidden="true"></i>
              </a>
            </li>
  
            <div class="ml-4 w-space-normal" [collapse]="isCollapsedOHDSettings">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/ohd-settings/settings']">
                  <span class="feed-menu-icon mr-1">
                    <img src="assets/img/doctor-settings.png" alt="Doctor-setting-Icon">
                  </span>
                  <span class="feed-menu-text fs14 fw500">Settings</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/ohd-settings/manage-users']">
                  <span class="feed-menu-icon mr-1">
                    <img src="assets/img/add.png" alt="add-Icon">
                  </span>
                  <span class="feed-menu-text fs14 fw500">Manage Users</span>
                </a>
              </li>
              <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-themed-verydarkblue t14" [routerLink]="['/ohd-settings/change-password']">
                  <span class="feed-menu-icon">
                    <i class="fs20 fw600 fas fa-key mr-2 text-dark" aria-hidden="true">
                    </i>
                  </span>
                  <span class="feed-menu-text fs14 fw500">Change Password</span>
                </a>
              </li> -->
            </div>
          </div>
          <!-- Divider -->
          <li class="divider dropdown-divider m-0"></li>
        </ul>
      </div>
    </ng-container>
    

    <!-- <div class="feed-list-menu col-xl-12 col-12 p-0">
      <ul class="nav flex-column w-space-nowrap">
        <li class="nav-item" routerLinkActive="active">
          <a href="javascript:void(0)" class="nav-link pl-4 t14" (click)="logout()">
            <span class="feed-menu-icon">
              <i class="fs20 fw600 fas fa-sign-out-alt mr-3 text-dark" aria-hidden="true">
              </i>
            </span>
            <span class="feed-menu-text fs16 fw700 text-red">Logout</span>
          </a>
        </li> -->
        <!-- Divider -->
        <!-- <li class="divider dropdown-divider m-0"></li>
      </ul>
    </div> -->
  </div>
</div>